<form action="/" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="last" placeholder="last name">
  <button type="submit" name="button">Add</button>
</form>



<br>
<%= @name %>
<%= @last %>
