<form class="" action="/result" method="post">
  <input type="text" name="first" placeholder=" first number">
  <input type="text" name="second" placeholder=" second number">
  <input type="hidden" name="authenticity_token" placeholder="<%= form_authenticity_token%>">
  <button type="sudmit">Add</button>
</form>
