Hola

<br>
<br>

<div class="pp">

</div>

<% @zombie.each do |x| %>
<div class="qq">
<%= x.name %> // <br>
</div>
<% end %>


<!-- <% @zombie.each do |x| %>
<%= x.name %> // <br>
<% end %> -->


<%= render "new" %>
